<!--
File: home.html
Author: Sánta Renáta Diána
Copyright: 2022, Sánta Renáta Diána
Group: Szoft I N
Date: 2022-05-26
Github: https://github.com/SantaRenata/
Licenc: GNU GPL
-->

<h2>Testtömeg index számítása</h2>

<form action="calc.php" method="get">
    <div>
        <label for="tomeg" class="form-label">tömeg (kg):</label>
        <input type="text" name="tomeg" id="tomeg" class="form-control">
    </div>
    <div>
        <label for="magassag" class="form-label">magasság (m):</label>
        <input type="text" name="magassag" id="magassag" class="form-control">
    </div>
    <button type="submit" class="btn btn-dark mt-3">Számít</button>
</form>